# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# Rider IDE settings
.idea/

# Database files (voor lokale databases)
*.mdf
*.ldf
*.sqlite
*.db

# NuGet
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Publish output
publish/
